.flip-card {
	background-color: transparent;
	perspective: 1000px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0s;
	text-align: center;
	transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Back side invisible by default */
  .flip-card-back {
	transform: rotateY(180deg);
  }