/* entire container, keeps perspective */
.flip-container {
	perspective: 200%;
}
	/* flip the pane when hovered */
	.flip-container.flip .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
    width: 100%;
    height: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.originalSide, .translatedSide {
	backface-visibility: hidden;
	position: absolute;
    width: 100%;
    height: 100%;
}

/* front pane, placed above back */
.originalSide {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.translatedSide {
	transform: rotateY(180deg);
}