body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body, #root, #root {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  background-color: #302c2c;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

::-webkit-scrollbar-button {
  display: none;
}
