body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body, #root, #root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;
}
