@font-face {
  font-family: "Playwrite US Modern";
  src: url("./fonts/PlaywriteUSModern-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playwrite US Traditional";
  src: url("./fonts/PlaywriteUSTrad-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body, #root, #root {
  width: 100svw;
  height: 100svh;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  background-color: #302c2c;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

::-webkit-scrollbar-button {
  display: none;
}

div {
  box-sizing: border-box;
}
/* Pass down the box-sizing property */
*,
*::before,
*::after {
  box-sizing: inherit;
}
